<div class="row">
  <div class="col-12">
    <img src="assets/img-1.jpg" style="width: 100%">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link ">Policiales</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link ">Politica</a>
        </li>
      <li class="nav-item">
          <a href="#" class="nav-link ">Informaticas</a>
      </li>

    </ul>
  </div>
</div>