<h1>Noticias de curso angular</h1>
<div class="row">
  <div class="col-10">
  </div>
  <div class="col-2">
    <div class="form-group">
      <label for="categoria">Categoria</label>
      <select name="" id="" class="form-control" id="selectornoticias" (change)="eventocontrol($event)">
        <option *ngFor="let cat of categorias" value="{{ cat.codigo}}">{{cat.texto}}</option>
        <!-- <option value="1">Opción 2</option>
        <option value="1">Opción 3</option> -->
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div *ngFor="let noticia of noticias">
      <div *ngIf="noticia.categoria.codigo==1; else opcion2">
        <div class="row" style="margin-top: 10pt">
          <div class="col-4">
            <img alt="" style="width: 380px;" src="{{ noticia.imagen }}">
          </div>
          <div class="col-8">
            <h5>{{ noticia.titulo }}</h5>
            <p>{{ noticia.text }}</p>
          </div>
        </div>
      </div>
      <ng-template #opcion2>
        <div class="row" style="margin-top: 10pt">
          <!-- <div class="col-4">
            <img alt="" style="width: 380px;" src="{{ noticia.imagen }}">
          </div> -->
          <div class="col-8">
            <h5>{{ noticia.titulo }}</h5>
            <p>{{ noticia.text }}</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>